<div class="main">

    <div class="option-today">
        <h2 class="p-3">Lựa chọn hôm nay</h2>
        <div class="wrapper p-0">
            <div class="card">
                <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/f/6/f/8/f6f8239835cfb39266a50cb240ac8872.jpg " alt="Card image cap ">
                <div class="card-body p-0 mt-3 ">
                    <h5 class="card-title ">THROWBACK US - UK</h5>
                    <p class="card-text ">Giai điệu US - UK bất hủ</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/0/2/a/3/02a31e5b9cad2e7dbd590f605999291d.jpg" alt="Card image cap">
                <div class="card-body p-0 mt-3">
                    <h5 class="card-title ">Disco V</h5>
                    <span class="card-text ">Khi âm hưởng Disco trở thành trào lưu của V-Pop ngày nay</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/b/8/9/c/b89cb9fe727024dd9f2918a32dd3691f.jpg " alt="Card image cap ">
                <div class="card-body p-0 mt-3 ">
                    <h5 class="card-title ">K-Pop Iconic</h5>
                    <span class="card-text ">Làn sóng Hallyu bắt đầu từ BIGBANG, SNSD, 2NE1... </span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/c/7/a/8/c7a883cec20b70d5b7ee4fa9dafa392d.jpg" alt="Card image cap">
                <div class="card-body p-0 mt-3">
                    <h5 class="card-title">Takeaway Music</h5>
                    <p class="card-text ">Âm nhạc dành cho bạn trên mọi nẻo đường</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/5/d/1/55d1441761617c51a9c8507c5661248f.jpg" alt="Card image cap ">
                <div class="card-body p-0 mt-3 ">
                    <h5 class="card-title ">THROWBACK US - UK</h5>
                    <p class="card-text ">Giai điệu US - UK bất hủ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="music-on-day">
        <h2 class="p-3">Nhạc mới mỗi ngày</h2>
        <div class="wrapper p-0">
            <div class="card">
                <a href="/audio">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/3/9/0/b/390bed3aa2d82b2fd197df02a4022e08.jpg" alt="Card image cap ">
                </a>
                <div class="card-body p-0 mt-3 ">
                    <h5 class="card-title ">V-Pop Tháng 3/2022</h5>
                    <p class="card-text ">Min, Erik, Khải Đăng...</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/0/2/a/3/02a31e5b9cad2e7dbd590f605999291d.jpg" alt="Card image cap">
                <div class="card-body p-0 mt-3">
                    <h5 class="card-title ">Disco V</h5>
                    <span class="card-text ">Khi âm hưởng Disco trở thành trào lưu của V-Pop ngày nay</span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/b/8/9/c/b89cb9fe727024dd9f2918a32dd3691f.jpg " alt="Card image cap ">
                <div class="card-body p-0 mt-3 ">
                    <h5 class="card-title ">K-Pop Iconic</h5>
                    <span class="card-text ">Làn sóng Hallyu bắt đầu từ BIGBANG, SNSD, 2NE1... </span>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/c/7/a/8/c7a883cec20b70d5b7ee4fa9dafa392d.jpg" alt="Card image cap">
                <div class="card-body p-0 mt-3">
                    <h5 class="card-title">Takeaway Music</h5>
                    <p class="card-text ">Âm nhạc dành cho bạn trên mọi nẻo đường</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_webp/cover/5/5/d/1/55d1441761617c51a9c8507c5661248f.jpg" alt="Card image cap ">
                <div class="card-body p-0 mt-3 ">
                    <h5 class="card-title ">THROWBACK US - UK</h5>
                    <p class="card-text ">Giai điệu US - UK bất hủ</p>
                </div>
            </div>
        </div>
    </div>
</div>