<div class="search-engine">
    <div class="header">
        <div class="button-direction">
            <button (click)="onBack()">
                <i class="fa fa-left-long"></i>
            </button>
            <button (click)="onGo()">
                <i class="fa fa-right-long"></i>
            </button>
        </div>

        <div class="search-audio">
            <input type="text" class="form-control" placeholder="Nhập tên bài hát nghệ sĩ hoặc MV...">
        </div>

        <div class="button-function">
            <button><i class="fa-solid fa-shirt"></i></button>
            <button><i class="fa-solid fa-v"></i></button>
            <button><i class="fa-solid fa-upload"></i></button>
            <button><i class="fa-solid fa-gear"></i></button>
            <button><i class="fa-regular fa-user"></i></button>
        </div>
    </div>
</div>