<div class="singer">
    <div class="singer-list">
        <div class="grid-layout-singer mb-4">
            <div class="wrapper row p-0">
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/1/c/3/1/1c316ca8b1bc893664e10bc908258420.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">Erik</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/3/3/4/d/334de5da0a293c92b15f1946a1071017.jpg" alt="Card image cap">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title ">Đức Phúc</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/b/1/c/0/b1c09b47286aaaf596360537fd12424b.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">Hòa Minzy</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/c/4/4/8/c448cb2eaed1cfbb910a60b0651f995f.jpg" alt="Card image cap">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title">Anh Tú</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">123 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/6/5/4/f/654f1c326d9d3e6bfd1415c42d01a9d6.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">CARA</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">123 liked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-layout-singer mb-4">
            <div class="wrapper row p-0">
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/1/c/3/1/1c316ca8b1bc893664e10bc908258420.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">Erik</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/3/3/4/d/334de5da0a293c92b15f1946a1071017.jpg" alt="Card image cap">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title ">Đức Phúc</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/b/1/c/0/b1c09b47286aaaf596360537fd12424b.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">Hòa Minzy</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/c/4/4/8/c448cb2eaed1cfbb910a60b0651f995f.jpg" alt="Card image cap">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title">Anh Tú</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">123 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/6/5/4/f/654f1c326d9d3e6bfd1415c42d01a9d6.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">CARA</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">123 liked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-layout-singer mb-4">
            <div class="wrapper row p-0">
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/1/c/3/1/1c316ca8b1bc893664e10bc908258420.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">Erik</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/3/3/4/d/334de5da0a293c92b15f1946a1071017.jpg" alt="Card image cap">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title ">Đức Phúc</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/b/1/c/0/b1c09b47286aaaf596360537fd12424b.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">Hòa Minzy</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">999 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top" src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/c/4/4/8/c448cb2eaed1cfbb910a60b0651f995f.jpg" alt="Card image cap">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title">Anh Tú</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">123 liked</p>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img class="card-img-top " src="https://photo-resize-zmp3.zadn.vn/w240_r1x1_webp/avatars/6/5/4/f/654f1c326d9d3e6bfd1415c42d01a9d6.jpg" alt="Card image cap ">
                    <div class="card-body p-0 mt-3 ">
                        <h5 class="card-title ">CARA</h5>
                        <div class="singer-liked d-flex justify-content-center">
                            <i class="fa-solid fa-heart"></i>
                            <p class="card-text ">123 liked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>