<div class="navigation">
    <ul class="list-group">
        <a [routerLink]="['/home']" class="navbar-brand">
            <i class="fa-solid fa-play"></i>
            <li class="list-group-item">Chill Lofi</li>
        </a>
        <a [routerLink]="['/home']" class="nav-link">
            <i class="fa fa-home"></i>
            <li class="list-group-item">Trang chủ</li>
        </a>
        <a [routerLink]="['/singer']" class="nav-link">
            <i class="fa-regular fa-user"></i>
            <li class="list-group-item">Ca sĩ</li>
        </a>
        <a [routerLink]="['/song']" class="nav-link">
            <i class="fa-solid fa-music"></i>
            <li class="list-group-item">Bài hát</li>
        </a>
        <a [routerLink]="['/album']" class="nav-link">
            <i class="fa-regular fa-heart"></i>
            <li class="list-group-item">Album</li>
        </a>
        <hr>
        <div class="card-detail mt-3">
            <div class="card mb-4">
                <div class="card-login card-body text-center">
                    <p class="card-text">
                        Đăng nhập để khám phá playlist dành riêng cho bạn
                    </p>
                    <button [routerLink]="['/login']" routerLinkActive="router-link-active" type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>

            <div class="card-update-vip card">
                <div class="card-body text-center">
                    <p class="card-text">
                        Nghe nhạc không quảng cáo cùng kho nhạc VIP
                    </p>
                    <button type="button" class="btn btn-warning">Nâng cấp VIP</button>
                </div>
            </div>
        </div>
    </ul>
</div>